.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  }

.peculiarities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.icon-antenna::before {
  background-image: url(../images/svg-icon/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/svg-icon/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg-icon/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/svg-icon/astronaut.svg);
}

.peculiarties-list-box::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .peculiarities-list {
    display: block;
  }

  .peculiarities-title {
    text-align: center;
  }

  .peculiarties-list-box {
    margin-bottom: 30px;
  }
  
  .peculiarties-list-box:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .peculiarities-section {
    padding-bottom: 0;
  }

  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .peculiarties-list-box {
    flex-basis: calc((100% -  30px) / 2);
    margin-right: 30px;
  }

  .peculiarties-list-box:nth-child(2n+2) {
    margin-right: 0;
}
}

@media screen and (min-width: 1200px) {
  .peculiarities-section {
    padding-bottom: 0;
  }
  
  .peculiarities-list {
  display: flex;
  align-items: center;
}

.peculiarties-list-box {
  margin-right: 30px;
  width: 270px;
  margin-bottom: 0;
}

.peculiarties-list-box:last-child {
  margin-right: 0;
  // margin-bottom: 30px;
  }
}
