.regular-customers-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.regular-customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-customers-link {
  width: 170px;
  height: 92px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 1px;
  transition: border-color var(--duration) var(--timing-function),
    fill var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    transition: border-color var(--duration) var(--timing-function),
      fill var(--duration) var(--timing-function);
  }

  &:hover .regular-customers-icon,
  &:focus .regular-customers-icon {
    fill: #2196f3;
    transition: fill var(--duration) var(--timing-function);
  }
}

.regular-customers-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.regular-customers-icon {
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}


// margin-left: calc(-1 * var(--gallery-list-gap));
// margin-top: calc(-1 * var(--gallery-list-gap));
