
.our-team__head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section-what-we-do {
  display: flex;
  align-items: center;
}

.section-what-we-do-list {
  margin-right: 30px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 70px;
    /* display: flex;
      text-align: center;
    justify-content: center; */
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.list-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 27px;
  left: 82px;
  color: #ffffff;
  z-index: 1;
}

// @media screen and (max-width: 767px) {
//   .what-we-do {
//     display: none;
//   }
// }